<div class="basket">
    <h2 class="basket__title">Your Shopping Cart</h2>

    {% if cartItems.count %}
        {% partial '@_summary' %}

        <div class="basket__checkout">
            <a href="/checkout" class="button--primary">Proceed to Checkout</a>
        </div>
    {% else %}
        <div class="basket__empty">
            <div class="basket__empty__info">Your cart is empty.</div>
            <a class="button--primary" href="{{ 'home'|page }}">Continue Shopping</a>
        </div>
    {% endif %}
</div>
