{% if cartItems.count %}
    <div class="basket-summary__items">

        {% for item in cartItems %}
            <div class="basket-summary__item">
                <div class="basket-summary__item__media">
                    <picture class="basket-summary__item__media__picture">
                        <img class="basket-summary__item__media__image" src="{{ item.variant.product.pictures | media }}" alt="{{ item.variant.product.title }}">
                    </picture>
                </div>

                <div class="basket-summary__item__content">
                    <div class="basket-summary__item__title">
                        {{ item.quantity }} x {{ item.variant.product.title }}
                    </div>

                    <div class="basket-summary__item__price">
                        {{ (item.unit_price * item.quantity)|number_format(2, '.', ',') }} €
                    </div>
                </div>

            </div>
        {% endfor %}

    </div>

    <div class="basket-summary__total">
        <strong>Total:</strong> {{ cartTotal|number_format(2, '.', ',') }} €
    </div>
{% else %}
    <div class="basket-summary__empty">
        <p>Your cart is empty</p>
    </div>
{% endif %}
