{% if cartItems.count %}
    <ul>
        {% for item in cartItems %}
            <li>
                {{ item.variant.product.title }}
                ({{ item.variant.title }})
                x {{ item.quantity }} =
                {{ (item.unit_price * item.quantity)|number_format(2, '.', ',') }}
            </li>
        {% endfor %}
    </ul>
    <p><strong>Total:</strong> {{ cartTotal|number_format(2, '.', ',') }}</p>
    <p><a href="/cart">View Cart</a></p>
    <p><a href="{{ url().previous() }}">Go back</a></p>
{% else %}
    <p>Your cart is empty</p>
{% endif %}