<div class="order-detail">
    <h2>Order #{{ order.id }}</h2>
    <p><strong>Date:</strong> {{ order.created_at|date('Y-m-d H:i') }}</p>
    <p><strong>Status:</strong> {{ order.status.name }}</p>
    <p><strong>Payment:</strong> {{ order.paymentStatus.name }}</p>
    <p><strong>Coupon:</strong> {{ order.coupon.code }} - <strong>{{ order.coupon.value }}€</strong></p>
    {% if order.deliveryMethod %}
        <p>
            <strong>Shipping Method:</strong>
            {{ order.deliveryMethod.name }} —
            €{{ order.shipping_cost|number_format(2,'.',',') }}
        </p>
    {% endif %}

    <h3>Shipping Address</h3>
    <address>
        {% for key, line in order.shipping_address %}
            {{ line }}<br>
        {% endfor %}
    </address>

    <h3>Billing Address</h3>
    <address>
        {% for key, line in order.billing_address %}
            {{ line }}<br>
        {% endfor %}
    </address>

    <h3>Items</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Variant</th>
            <th>Qty</th>
            <th>Unit Price</th>
            <th>Unit Promo Price</th>
            <th>Line Total</th>
        </tr>
        </thead>
        <tbody>
        {% for item in order.items %}
            <tr>
                <td>{{ item.variant.product.title }}</td>
                <td>{{ item.variant.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit_price|number_format(2,'.',',') }}€</td>
                <td>{{ item.variant.discount_price ? item.variant.discount_price|number_format(2,'.',',') ~ '€' : '/' }}</td>
                <td>{{ item.variant.discount_price ? (item.variant.discount_price * item.quantity)|number_format(2,'.',',') : (item.unit_price * item.quantity)|number_format(2,'.',',') }}€</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Totals</h3>
    <ul>
        <li><strong>Total: {{ order.total_amount|number_format(2,'.',',') }}€</strong></li>
    </ul>

    <p><a href="{{ 'my-orders'|page }}">« Back to My Orders</a></p>
</div>
