<div class="order-details">
    <div class="order-details__general">
        <h2>Order #{{ order.id }}</h2>

        <div class="order-details__general__date">
            <strong>Date:</strong> {{ order.created_at|date('d. m. Y H:i') }}
        </div>

        <div class="order-details__general__status order-details__general__status--general">
            <strong>Status:</strong> {{ order.status.name }}
        </div>

        <div class="order-details__general__status order-details__general__status--payment">
            <strong>Payment:</strong> {{ order.paymentStatus.name }}
        </div>

        {% if order.coupon %}
            <div class="order-details__general__coupon">
                <strong>Coupon:</strong> {{ order.coupon.code }} - <strong>{{ order.coupon.value }}€</strong>
            </div>
        {% endif %}

        <div class="order-details__general__delivery">
            <strong>Shipping Method:</strong>
            {{ order.deliveryMethod.name }}
            ({{ order.shipping_cost|number_format(2,'.',',') }} €)
        </div>
    </div>


    <div class="order-details__address">
        <div class="order-details__address__shipping">
            <h3>Shipping Address</h3>
            <div>
                {% for key, line in order.shipping_address %}
                    {{ line }}<br>
                {% endfor %}
            </div>
        </div>

        <div class="order-details__address__billing">
            <h3>Billing Address</h3>
            <div>
                {% for key, line in order.billing_address %}
                    {{ line }}<br>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="order-details__items">
        <h3>Items</h3>
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Unit Price</th>
                        <th>Line Total</th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in order.items %}
                        <tr>
                            <td>
                                <div class="order-details__item">
                                    <div class="order-details__item__media">
                                        <picture class="order-details__item__media__picture">
                                            <img class="order-details__item__media__image" src="{{ item.variant.product.pictures | media }}" alt="{{ item.variant.product.title }}">
                                        </picture>
                                    </div>

                                    <div class="order-details__item__content">
                                        <div class="order-details__item__title">{{ item.variant.product.title }}</div>
                                        <div class="order-details__item__variant">{{ item.variant.title }}</div>
                                    </div>
                                </div>
                            </td>

                            <td>{{ item.quantity }}</td>

                            <td>
                                {% if item.variant.discount_price %}
                                    {{ item.variant.discount_price|number_format(2,'.',',') ~ ' €' }}

                                    <s>{{ item.unit_price|number_format(2,'.',',') }} €</s>
                                {% else %}
                                    {{ item.unit_price|number_format(2,'.',',') }} €
                                {% endif %}
                            </td>

                            <td>{{ item.variant.discount_price ? (item.variant.discount_price * item.quantity)|number_format(2,'.',',') : (item.unit_price * item.quantity)|number_format(2,'.',',') }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="order-details__total">
        <strong>Total: </strong><span>{{ order.total_amount|number_format(2,'.',',') }} €</span>
    </div>

    <div>
        <a class="button" href="{{ 'my-orders'|page }}">« Back to My Orders</a>
    </div>
</div>
