<div class="orders">
    <h2>My orders</h2>
    {% if not orders.count %}
        <div class="orders__empty">
            <p>You have not placed any orders yet.</p>
        </div>
    {% else %}
        <div class="table-container">
            <table class="table">
                <thead>
                <tr>
                    <th>Order #</th>
                    <th>Date</th>
                    <th>Order status</th>
                    <th>Payment status</th>
                    <th>Total</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.created_at|date('d. m. Y H:i') }}</td>
                        <td>{{ order.status.name }}</td>
                        <td>{{ order.paymentStatus.name }}</td>
                        <td>€{{ order.total_amount|number_format(2,'.',',') }}</td>
                        <td>
                            <a class="button" href="{{ 'order-details'|page({ id: order.id }) }}">View details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>