<div class="product-single">

    <div class="product-single__details">
        <div class="product-single__media">
            <picture class="product-single__media__picture">
                <img class="product-single__media__image" src="{{ product.pictures | media }}" alt="{{ product.title }}">
            </picture>

            {% if product.discount_label %}
                <span class="badge">{{ product.discount_label }}</span>
            {% endif %}
        </div>

        <div class="product-single__content">
            <div class="product-single__brand">{{ product.brand.title }}</div>

            <h1 class="product-single__title">{{ product.title }}</h1>

            <div class="product-single__description">
                {{ product.description|raw }}
            </div>

            <div class="product-single__checkout">
                {% if product.variants.count %}
                    {{ form_ajax('onAddToCart', { update: { 'cartSummary::_summary': '#js-basket-summary' }, flash: 'true', class: 'product-single__variants', id: 'add-to-cart-form' }) }}
                        <div class="product-single__variant__title">Choose variant:</div>

                        <div class="product-single__variants__items" id="variant-items">
                            {% for v in product.variants %}
                                <div class="product-single__variants__item">
                                    <input type="radio"
                                           id="{{ addToCart.properties['variantIdParam'] }}[{{ v.id }}]"
                                           name="{{ addToCart.properties['variantIdParam'] }}"
                                           value="{{ v.id }}"
                                            {{ loop.first ? 'checked' }}
                                    >

                                    <label for="{{ addToCart.properties['variantIdParam'] }}[{{ v.id }}]">
                                        {{ v.title }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="product-single__prices" id="variant-prices">
                            {% for v in product.variants %}
                                <div class="product-single__prices__item{{ loop.first ? ' active' }}">
                                    {% if v.discount_price %}
                                        <span class="product-single__prices__item--current">
                                            {{ v.discount_price }}
                                        </span>
                                        <s class="product-single__prices__item--full">
                                            {{ v.price }}
                                        </s>
                                    {% else %}
                                        <span class="product-single__prices__item--current">
                                            {{ v.price }}
                                        </span>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="product-single__checkout__buy">
                            <input type="number" name="quantity" value="1" min="1" />
                            <button class="button" type="submit">Add to Cart</button>
                        </div>
                    {{ form_close() }}
                {% endif %}
            </div>
        </div>
    </div>

    {% if product.categories.count %}
        <div class="product-single__categories">
            <h3>Categories</h3>

            <ul>
                {% for category in product.categories %}
                    <li>{{ category.title }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if product.productattributes.count %}
        <div class="product-single__attributes">
            <h3>Attributes</h3>

            <table>
                <thead>
                    <tr>
                        <th>Lastnost</th>
                        <th>Vrednost</th>
                    </tr>
                </thead>

                <tbody>
                    {% for attribute in product.productattributes %}
                        <tr>
                            <td>{{ attribute.attTitle }}</td>
                            <td>{{ attribute.attValue }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>